# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Django
*.log
db.sqlite3
*.sqlite3
local.sqlite3
/staticfiles/
/media/
.env

# Node / Tailwind
node_modules/
/static/dist/

# Локальные файлы редакторов и ОС
.DS_Store
.idea/
.vscode/
